il  {


}


il a {
  color: #02D1FE;
  border-right: 1px solid;
  padding-right:  6px;
     padding-left: 7px;
}

.photos
{
  width:337px;
  height:250px;
  margin-top:50px;
}

ul {
  position: absolute;

}

.menu-photos{
  padding-top: 50px
}

body
{ background-color:    rgb(0, 0, 0);


}
aside.ribbon {
    position: fixed;
    top: 25px;
    right: -50px;
    color: #02D1FE;
    line-height: 2em;
    text-align: center;
    width: 200px;
    transform: rotate(45deg);
    background-color: rgba(119, 116, 116, 0.63);
}

.itemmapa{
  color : white;
  display: list-item;
}
