il  {
  border-right: 1px solid;
   padding-right:  7px;
      padding-left: 7px;
}

il a {
  color: #000000
}

.photos
{
  width:337px;
  height:250px;
  margin-top:50px;
}

ul {
  position: absolute;

}

.menu-photos{
  padding-top: 50px
}

body {
  background-color: #98FB98

}
